// Settings
@import "_config/var";

// Fonts
@import "_config/fonts";

body{
    padding: 0;
    margin: 0;
    @include regular;
    background-color: transparentize( #000000, .2) !important;
    box-sizing: border-box;
}

// Libs
@import "libs/*.scss";

// Style
@import "style/*.scss";


