extends layout/app
block var 
    - let page_title = "Home"; 
block content 
    .start 
        .start__container 
            .start__author 
                h1 Furkat Vokhidov 
            .start__title 
                h2= site_name 
            .start__social 
                a(href="https://t.me/vofurkat")
                    i.fa-brands.fa-telegram
                a(href="https://facebook.com/vofurkat")
                    i.fa-brands.fa-facebook 
                a(href="https://github.com/vofurkat")
                    i.fa-brands.fa-github 
    